# ignore all sub node_modules folders
.turbo
**/.turbo
/dist
**/dist
**/node_modules
/node_modules
/node_modules/* 
/.venv
/.pytest_cache
/.mypy_cache
/.ruff_cache
/.vscode
/.idea
/.DS_Store
/dist
/build
/.eggs
*.egg-info
*.egg
.pytest_cache/
.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.env
*.venv
.env.*
.venv/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.war
*.jar
*.iml
*.ipr
*.iws
*.log
*.out
*.class
*.war