import React from "react";

export default function App() {
  return (
    <div style={{ padding: 24 }}>
      <h1>{{newAppName}}</h1>
      <p>Bienvenue 👋 – app créée via Plop.</p>
    </div>
  );
}
